.cache
.classpath
.idea
.metadata
.settings
.project
target
.version.properties
*.class
*.iml
*.swp
*.jar
*.zip
*.log
*.pyc
.DS_Store
*.ipr
*.iws
*.pyc
.vscode
flink-ml-python/dist/
flink-ml-python/docs/_build
flink-ml-python/apache_flink_ml.egg-info/
